.alert {
  background-color: rgba(255,0,0,0.2);
  border: 1px solid #ff0000;
  padding: 1em 2em;
  border-radius: 6px;
  margin: 1em 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .text {
    font-size: 1.5em;
    font-weight: bold;
    color: #ff0000;
    padding: 0 0.5em;
  }
}